---
title: The DevOps Lifecycle with GitLab
suppress_header: true
description: "GitLab is the first single application for the entire DevOps lifecycle. From planning to monitoring GitLab covers every stage and additionally lets you manage and secure across stages."
extra_css:
  - stages-devops-lifecycle.css
  - /stylesheets/merchandising-content.css
extra_js:
  - features.js
---

.blank-header
  %img.image-border.image-border-left{ src: "/images/home/icons-pattern-left.svg", alt: "Gitlab hero border pattern left svg" }
  %img.image-border.image-border-right{ src: "/images/home/icons-pattern-right.svg", alt: "Gitlab hero border pattern right svg" }
  .header-content
    %img.hero-image-small{ src: "/images/devops-tools/gitlab-logo.svg", alt: "GitLab logo icon svg" }
    %h1 The entire DevOps lifecycle in one application.
    %a.btn.cta-btn.orange{ href: "/free-trial/" }
      Start your free trial

= partial "includes/merchandising-content-single"
= partial "includes/home/customer-logos-transparent"

.solutions-wrapper
  .solution-container.flex-container.justify-center.align-center.full-width
    .solution-info-container.flex-container.flex-column.full-width
      %h2
        How DevOps is better with GitLab
      %p
        GitLab is a complete DevOps platform, delivered as a single application, fundamentally changing the way Development, Security, and Ops teams collaborate and build software. From idea to production, GitLab helps teams improve cycle time from weeks to minutes, reduce development costs and time to market while increasing developer productivity.
    .solution-image-container.flex-container.align-center.full-width
      %img.solution-image.flex-shrink{:src => "/images/stages-devops-lifecycle/devops-loop-and-spans-small.png", :alt => "Gitlab devops loop png"}/
  - data.stages.stages.select{|stageKey,stage| stage.marketing}.keys.each do |solution|
    - link_url = "/stages-devops-lifecycle/#{solution.to_s.gsub(/_/, '-')}"
    - if (data.stages.stages.public_send(solution).image)
      .solution-container.flex-container.justify-center.align-center.full-width
        .solution-info-container.flex-container.flex-column.full-width
          %h2
            %a{ href: link_url }
              = data.stages.stages.public_send(solution).display_name
          %h4
            = data.stages.stages.public_send(solution).description
          %p
            = data.stages.stages.public_send(solution).body
          %a.learn-more.flex-container.align-center{ href: link_url }
            %p
              Learn More →
        .solution-image-container.flex-container.align-center.full-width
          %img.solution-image.flex-shrink{:src => data.stages.stages.public_send(solution).image, :alt => "Gitlab stage image"}/
    - else
      .solution-no-image
        %h2
          %a{ href: link_url }
            = data.stages.stages.public_send(solution).display_name
        %p
          = data.stages.stages.public_send(solution).description
        %p
          = data.stages.stages.public_send(solution).body
        %a.learn-more.flex-container.align-center{ href: link_url }
          %p
            Learn More →

.gitlab-cta-container.text-center.animated
  .container
    %a.btn.cta-btn.red.hidden-sm.hidden-xs{href: "/features"}
      See all features

.gitlab-cta-container.text-center.animated
  .container
    %h2
      Choose the version of GitLab that is best for you
    %h4
      Host GitLab on your servers or let us host it for you
    %a.btn.cta-btn.red.hidden-sm.hidden-xs{href: "/pricing"}
      Explore our plans
    %a.btn.cta-btn.red.visible-sm.visible-xs{href: "/pricing"}
      Explore
